/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
body{
line-height: 1;
}
ol,ul{
list-style: none;
}
blockquote,q{
quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after{
content: '';
content: none;
}
focus{
outline: 0;
}
ins{
text-decoration: none;
}
del{
text-decoration: line-through;
}
table{
border-collapse: collapse;
border-spacing: 0;
}
/* RESET */



@font-face {
font-family: 'OpenSansCondensedLight';
src: url('../fonts/OpenSans-CondLight-webfont.eot');
src: url('../fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/OpenSans-CondLight-webfont.woff') format('woff'),
url('../fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
url('../fonts/OpenSans-CondLight-webfont.svg#OpenSansCondensedLight') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'OpenSansCondensedBold';
src: url('../fonts/OpenSans-CondBold-webfont.eot');
src: url('../fonts/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/OpenSans-CondBold-webfont.woff') format('woff'),
url('../fonts/OpenSans-CondBold-webfont.ttf') format('truetype'),
url('../fonts/OpenSans-CondBold-webfont.svg#OpenSansCondensedBold') format('svg');
font-weight: normal;
font-style: normal;
}



body {
color: #262626;
font-size: 16px;
font-family: 'OpenSansCondensedLight', Arial, Tahoma, Verdana;
text-align: center;
line-height: 20px;
background: #fff8e7;
}




#wrpB{
clear: both;
position: relative;
border-top: 8px solid #ffd87d;
width: 100%;
}




/* ---------------------------- CONTAINER HOME ---------------------------- */


.contH {
clear: both;
overflow: hidden;
display: table;
width: 900px;
margin: 0 auto;
padding: 0 50px;
}

.contH h2{
font-size: 20px;
line-height: 30px;
text-align: left;
}

.contH p{
text-align: justify;
}
.contH .contC{
*float: left;
display: table-cell;
border: 10px solid #fff8e7;
border-left: 0;
background-color: #fff;
width: 490px;
padding: 5px 10px;
}
.contH .contCb{
*float: left;
display: table-cell;
border: 10px solid #fff8e7;
border-right: 0;
background-color: #fff;
width: 490px;
*width: 400px;
padding: 5px 10px;
}


/* HEADER */


.header{
clear: both;
overflow: hidden;
position: relative;
width: 900px;
margin: 10px auto;
padding: 0 50px;
}

a.logo:link,a.logo:visited {
float: left;
display: block;
text-indent: -9000px;
text-decoration: none;
outline: none;
background: url(../lib/logo_a.jpg) no-repeat;
width: 298px;
height: 97px;
}
a.logo:hover {
filter: alpha(opacity=70);
-moz-opacity: 0.70;
-khtml-opacity: 0.70;
opacity: 0.70;
}

.bxTit{
float: left;
font-size: 27px;
text-transform: uppercase;
text-align: left;
line-height: 27px;
width: 340px;
margin: 10px 0 0 30px;
}
.bxTit span{
font-size: 20px;
line-height: 30px;
}


.infUP{
float: right;
width: 145px;
margin-top: 10px;
}
.infUP .usInf{
font-size: 14px;
line-height: 14px;
text-align: right;
background: #fff;
width: 130px;
padding: 7px;
}
.infUP .pag{
float: right;
color: #c6c5c2;
font-size: 18px;
line-height: 33px;
text-align: right;
background: #66635c url(../lib/pag.gif) no-repeat left;
width: 118px;
height: 33px;
margin-top: 10px;
padding: 0 0 0 20px;
}
.infUP .pag span{
float: left;
display: block;
margin: 0 4px;
}


/* HEADER B */


.headerB{
clear: both;
overflow: hidden;
position: relative;
width: 600px;
margin: 10px auto 20px auto;
padding: 0 50px;
}



/* HEADER */


/* CONTENT */


.content{
clear: both;
position: relative;
width: 900px;
margin: 10px auto;
padding: 0 50px 50px 50px;
}
.content p{
text-align: justify;
margin: 10px auto;
}

.content .bxSL{
right: 12%;
_top: 0;
_bottom: auto;
position: fixed !important;
position: absolute;
_top: expression(eval(document.documentElement.scrollTop));
_left: expression(eval(document.documentElement.scrollRight));
color: #fff;
font-size: 11px;
text-transform: uppercase;
background: #b1d268;
width: 52px;
height: 52px;
padding: 12px;
}

.content .bxS{
right: 12%;
position: fixed;
color: #fff;
font-size: 11px;
text-transform: uppercase;
background: #7db909;
width: 52px;
height: 52px;
padding: 12px;
}


/* CONTENT B */


.contentB{
clear: both;
position: relative;
width: 600px;
margin: 10px auto;
padding: 0 50px 50px 50px;
}
.contentB p{
text-align: justify;
margin: 10px auto;
}

.contentB .bxSL{
right: 12%;
_top: 0;
_bottom: auto;
position: fixed !important;
position: absolute;
_top: expression(eval(document.documentElement.scrollTop));
_left: expression(eval(document.documentElement.scrollRight));
color: #fff;
font-size: 11px;
text-transform: uppercase;
background: #b1d268;
width: 52px;
height: 52px;
padding: 12px;
}

.contentB .bxS{
right: 12%;
position: fixed;
color: #fff;
font-size: 11px;
text-transform: uppercase;
background: #7db909;
width: 52px;
height: 52px;
padding: 12px;
}





/* FOOTER */

#footer{
clear: both;
overflow: hidden;
background: url(../lib/footer_01.jpg) no-repeat center top;
width: 100%;
padding-bottom: 150px;
}


.footW{
clear: both;
color: #fff;
font-size: 12px;
text-align: justify;
line-height: 14px;
width: 740px;
margin: 0 auto;
padding: 21px 260px 40px 0;
}

/* FOOTER */




 .bxMsj{
clear: both;
border: 1px solid #fffc00;
background: #fff8cf;
width: 93%;
margin: 30px auto;
padding: 15px 1%;
}


 .bxCnt{
clear: both;
background: #fff;
width: 96%;
margin: 30px auto;
padding: 15px 2%;
}






.left{
float: left;
}

.right{
float: right;
}

.clear{
clear: both;
}




.small{
font-size: 12px;
line-height: 15px;
}
.small2{
font-size: 9px;
color: #2a468f !important;
}


.bold{
font-weight: 700;
}
.bold2{
color: #2a468f !important;
font-weight: 700;
}


.color2{
color: #2a468f !important;
}
.color3{
color: #fff !important;
}







/* LINKS */




a.lnk2:link,a.lnk2:visited {
color: #f2e3a1;
text-decoration: none;
}
a.lnk2:hover {
color: #ccb155;
}




a.lnk3:link,a.lnk3:visited {
color: #66635c;
text-decoration: underline;
margin: 0 5px;
}
a.lnk3:hover {
text-decoration: none;
}


a.lnkS2:link,a.lnkS2:visited {
display: block;
color: #ff2626;
font-size: 12px;
text-decoration: none;
text-transform: uppercase;
margin-bottom: 5px;
}
a.lnkS2:hover {
text-decoration: underline;
}


a.btnB:link,a.btnB:visited {
display: block;
float: right;
color: #fff;
font-size: 24px;
text-decoration: none;
text-align: center;
line-height: 50px;
background: url(../lib/btn_b.gif) no-repeat;
width: 120px;
height: 50px;
margin: 0 10px;
padding-right: 22px;
}
a.btnB:hover {
filter: alpha(opacity=70);
-moz-opacity: 0.70;
-khtml-opacity: 0.70;
opacity: 0.70;
}


a.btnS:link,a.btnS:visited {
display: block;
float: right;
color: #fff;
font-size: 22px;
text-decoration: none;
text-align: center;
line-height: 44px;
background: url(../lib/btn_s.gif) no-repeat;
width: 100px;
height: 44px;
margin: 3px 10px;
padding-left: 22px;
}
a.btnS:hover {
filter: alpha(opacity=70);
-moz-opacity: 0.70;
-khtml-opacity: 0.70;
opacity: 0.70;
}


a.btnAdd:link,a.btnAdd:visited {
display: block;
float: right;
color: #fff;
font-size: 15px;
text-decoration: none;
text-align: center;
line-height: 30px;
background: #66635c url(../lib/ico_add.gif) no-repeat 8px center;
height: 30px;
margin: 3px 0;
padding: 0 10px 0 30px;
}
a.btnAdd:hover {
filter: alpha(opacity=70);
-moz-opacity: 0.70;
-khtml-opacity: 0.70;
opacity: 0.70;
}


a.lnkBtn1:link, a.lnkBtn1:visited  {
float: left;
display: block;
color: #fff;
font-size: 14px;
font-family: 'OpenSansRegular', Arial, Helvetica;
font-weight: 700;
line-height: 45px;
text-transform: uppercase;
text-align: center;
text-decoration: none;
border: none;
background: #7db909;
height: 45px;
margin: 15px 0;
padding: 0 25px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
a.lnkBtn1:hover {
filter: alpha(opacity=90);
-moz-opacity: 0.90;
-khtml-opacity: 0.90;
opacity: 0.90;
}


a.lnkCls:link, a.lnkCls:visited  {
display: block;
color: #f00;
font-size: 10px;
text-transform: uppercase;
text-align: center;
text-decoration: none;
background: url(../lib/ico_cls.gif) no-repeat center top;
margin: 0 auto;
padding: 20px 0 0 0;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
a.lnkCls:hover {
filter: alpha(opacity=90);
-moz-opacity: 0.90;
-khtml-opacity: 0.90;
opacity: 0.90;
}





/* FORMS */


/* FORM 1 */
.formA fieldset{
float: left;
width: 98%;
margin: 15px 1%;
}
.formA label{
display: block;
float: left;
font-family: 'OpenSansCondensedLight',Arial,Helvetica,sans-serif;
text-align: left;
line-height: 18px;
width: 150px;
margin: 14px 0;
}
.formA select{
display: block;
float: left;
color: #4c4c4c;
font-size: 18px;
font-family: 'OpenSansCondensedLight',Arial,Helvetica,sans-serif;
border: 1px solid #99958b;
background: #fff;
height: 36px;
margin: 0 10px;
padding: 6px;
}
.formA .labChk{
width: 130px;
}
.formA .labChkB{
width: 500px;
}
.formA .labB{
float: right;
font-size: 18px;
font-weight: 700;
text-align: right;
width: 100px;
margin: 0;
padding: 0 17px 0 0;
}
.formA .labB2{
float: right;
color: #f00;
font-size: 18px;
font-weight: 700;
text-align: right;
width: 100px;
margin: 0;
padding: 0 17px 0 0;
}
.formA .inpB{
display: block;
float: left;
clear: both;
color: #4c4c4c;
font-size: 18px;
font-family: 'OpenSansCondensedLight',Arial,Helvetica,sans-serif;
text-align: right;
border: 1px solid #99958b;
background: #fff;
height: 24px;
margin: 0 10px;
padding: 6px;
}
.formA .inpB2{
display: block;
float: right;
clear: both;
color: #4c4c4c;
font-size: 18px;
font-family: 'OpenSansCondensedLight',Arial,Helvetica,sans-serif;
text-align: right;
border: 1px solid #99958b;
background: #fff;
height: 24px;
margin: 0 10px;
padding: 6px;
}
.formA .inpC{
display: block;
float: left;
color: #4c4c4c;
font-size: 18px;
font-family: 'OpenSansCondensedLight',Arial,Helvetica,sans-serif;
border: 1px solid #99958b;
background: #fff;
height: 24px;
margin: 5px 10px;
padding: 6px;
}
.formA .inpC2{
display: block;
float: right;
color: #4c4c4c;
font-size: 18px;
font-family: 'OpenSansCondensedLight',Arial,Helvetica,sans-serif;
border: 1px solid #99958b;
background: #fff;
height: 24px;
margin: 0 10px;
padding: 6px;
}
.formA .req{
display: block;
float: left;
clear: both;
font-size: 18px;
font-family: 'OpenSansCondensedLight',Arial,Helvetica,sans-serif;
border: 1px solid #f00;
background: #fff;
height: 24px;
margin: 0 10px;
padding: 6px;
}
.formA textarea{
display: block;
float: left;
color: #4c4c4c;
font-size: 18px;
font-family: 'OpenSansCondensedLight',Arial,Helvetica,sans-serif;
border: 1px solid #99958b;
height: 123px;
margin: 0 10px;
padding: 8px 4px;
}
.formA input{
display: block;
float: left;
}

.formA .button{
float: right;
cursor: pointer;
color: #fff;
font-size: 22px;
font-family: 'OpenSansCondensedLight',Arial,Helvetica,sans-serif;
text-align: center;
text-transform: uppercase;
border: none;
background: url(../lib/btn_b.gif) no-repeat;
width: 142px;
height: 50px;
padding-right: 10px;
}

.formA .buttonB{
float: right;
cursor: pointer;
color: #fff;
font-size: 22px;
font-family: 'OpenSansCondensedLight',Arial,Helvetica,sans-serif;
text-align: center;
text-transform: uppercase;
border: none;
background: url(../lib/btn1.gif) no-repeat;
width: 142px;
height: 50px;
}
.formA p{
clear: both;
overflow: hidden;
text-align: justify;
margin: 10px 0px;
*padding: 2px 0;
}
.formA .clear{
clear: both;
display: block;
}
.formA .chk{
margin: 15px 10px 0 0;
}
.formA .subT{
display: block;
float: left;
clear: both;
font-family: 'OpenSansCondensedBold',Arial,Helvetica,sans-serif;
text-align: left;
line-height: 20px;
padding: 5px 0;
}
.formA .bxEr{
float: left;
clear: both;
display: table;
overflow: hidden;
color: #fff;
font-size: 12px;
text-align: center;
text-transform: uppercase;
line-height: 24px;
background: #ff0000;
height: 24px;
margin: 0 10px;
padding: 0 10px;
}
.formA .txtInf{
float: left;
display: block;
font-size: 14px;
line-height: 16px;
width: 50%;
margin-top: 5px;
}
.formA .bxBt{
float: left;
clear: both;
display: block;
background: #fff;
width: 98%;
margin: 30px 0;
padding: 15px 1%;
}



.btnBO{
display: block;
float: right;
color: #fff;
font-size: 24px;
text-align: center;
line-height: 50px;
background: url(../lib/btn_b2.gif) no-repeat;
width: 120px;
height: 50px;
margin: 0 10px;
padding-right: 22px;
}


.btnSO{
display: block;
float: right;
color: #fff;
font-size: 22px;
text-align: center;
line-height: 44px;
background: url(../lib/btn_s2.gif) no-repeat;
width: 100px;
height: 44px;
margin: 3px 10px;
padding-left: 22px;
}



/* FORMULARIO LOG */

.formL{
display: table;
width: 100%;
*width: 80%;
margin: 0 auto;
}
.formL fieldset{
float: left;
width: 100%;
}
.formL label{
display: block;
float: left;
color: #787979;
font-weight: 100;
text-align: left;
line-height: 15px;
width: 100px;
margin-right: 10px;
padding: 8px 0;
}
.formL input{
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.formL .inpA{
display: block;
float: left;
color: #4c4c4c;
font-size: 14px;
border: 1px solid #bfbfbf;
background: #fff;
height: 23px;
padding: 6px;
}
.formL .txtR{
display: block;
overflow: hidden;
color: #f00;
font-size: 14px;
text-align: left;
}
.formL .txtC{
display: block;
overflow: hidden;
color: #66a707;
font-size: 18px;
text-align: left;
}


.formL .button{
float: left;
cursor: pointer;
color: #fff;
font-size: 14px;
font-family: 'OpenSansRegular', Arial, Helvetica;
font-weight: 700;
text-transform: uppercase;
text-align: center;
border: none;
background: #66635c;
width: 130px;
height: 45px;
margin-bottom: 5px;
}


.formL p{
clear: both;
position: relative;
margin: 6px 0;
padding: 10px 0;
*padding: 2px 0;
}

.formL .bxEr{
float: left;
display: block;
color: #fff;
font-size: 14px;
text-align: center;
line-height: 30px;
background: #f00;
height: 30px;
margin: 4px 0 0 110px;
padding: 3px 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.formL .bxEr2{
float: left;
display: block;
color: #fff;
font-size: 14px;
text-align: center;
line-height: 30px;
background: #f00;
height: 30px;
margin: 0 0 0 -99px;
padding: 3px 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}



.formL .txtIn{
float: left;
display: block;
font-size: 16px;
text-align: center;
line-height: 50px;
margin: 0 10px;
}

/* TABLA */
table.dInf{
clear: both;
overflow: hidden;
font-size: 16px;
line-height: 20px;
width: 100%;
margin: 20px auto;
}

table.dInf thead th {
font-size: 22px;
line-height: 24px;
text-align: left;
text-transform: uppercase;
background: #ffd87d;
padding: 12px 10px;
}
table.dInf td{
text-align: left;
vertical-align: middle;
background: #fff;
padding: 12px 10px;
}




/* TABLA 2 */
table.fOpt{
clear: both;
overflow: hidden;
font-size: 14px;
line-height: 14px;
width: 100%;
margin: 20px auto 0 auto;
}

table.fOpt thead th {
text-align: center;
text-transform: uppercase;
border: 1px solid #ffd87d;
background: #ffd87d;
padding: 12px 10px;
}
table.fOpt td{
text-align: left;
vertical-align: middle;
border: 1px solid #99958b;
background: #fff;
padding: 10px;
}

table.fOpt .titR {
text-align: left;
font-family: 'OpenSansCondensedBold',Helvetica,sans-serif;
background: #ffebbe;
}


table.fOpt .inpB{
border: none !important;
}

table.fOpt .tabB{
border: none !important;
background: none !important;
}


